
body {
    font-family: 'Open Sans', sans-serif;
}

a {
    transition: all 0.3s ease;
}

/* Repeat */

.heading {
    margin-bottom: 55px;
}
.heading-main {
    font-size: 32px;
    color: #f0396b;
    margin-bottom: 6px;
}
.heading-sub {
    font-size: 16px;
    color: #2f3354;
}

/* Header */

.header {
    background: #2F3354;
    height: 70px;
}
.header-logo {
    color: #f0396b;
    font-size: 20px;
}
.header-col {
    height: 70px;
}

/* Header menu */

.header-menu {
    font-size: 15px;
    margin: 0;
    padding: 0;
    width: 100%;
}
.header-menu-item {
    display: inline-block;
    list-style: none;
}
.header-menu-link {
    color: #aab2d5;
    height: 70px;
    display: block;
    line-height: 70px;
    position: relative;
}
.header-menu-link.i-active:before {
    content: '';
    background: #f0396b;
    height: 5px;
    border-radius: 6px;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    display: block;
}
.header-menu-link.i-active {
    color: #ffffff;
}
.header-menu-link:hover {
    color: #ffffff;
    text-decoration: none;
}

/* Main */

.main {
    padding-top: 50px;
}

.section {
    margin-bottom: 100px;
}

/* Portal */
.portal {
    margin-bottom: 100px;
}
.portal-item {
    border-radius: 11px;
    overflow: hidden;
    position: relative;
}
.portal-item:before {
    content: '';
    background: #2F3354;
    display: block;
    opacity: 0.9;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    position: absolute;
    z-index: 50;
}
.portal-item_big {
    height: 100%;
}
.portal-item_big:before {
    content: none;
}
.portal-image {
    max-width: 100%;
}
.portal-item_first {
    margin-bottom: 16px;
}
.portal-badge {
    padding: 0 50px;
    height: 160px;
    background: #272B48;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
.portal-link {
    position: relative;
    display: block;
    font-size: 18px;
    color: #ffffff;
    padding-right: 100px;
}
.portal-link:hover {
    text-decoration: none;
}
.portal-link:before {
    content: '';
    background: #F0396B url('../image/angle-right.svg') center center no-repeat;
    background-size: 8px 12px;
    border-radius: 8px;
    display: block;
    position: absolute;
    right: 0;
    height: 50px;
    width: 50px;
    top: 50%;
    margin-top: -25px;
}
.portal-link_mini:before {
    background-color: transparent;
    background-image: url('../image/angle-right-gray.svg');
    border: 1px solid #F0396B;
}
.portal-bg {
    max-width: 100%;
}
.portal-badge-mini {
    z-index: 100;
    left: 50px;
    right: 50px;
    bottom: 30px;
    position: absolute;
}
.portal-date {
    font-size: 14px;
    font-weight: 600;
    color: #ffffff;
    position: absolute;
    z-index: 50;
    left: 50px;
    top: 58px;
    padding-left: 30px;
    background: url('../image/clock.svg') no-repeat left center;
    background-size: 21px;
}
.portal-count {
    padding-left: 30px;
    font-size: 14px;
    font-weight: 600;
    color: #ffffff;
    position: absolute;
    z-index: 50;
    top: 58px;
    right: 50px;
    background: url('../image/eye.svg') no-repeat left center;
    background-size: 25px 16px;
}

/* User Menu */

.user-menu {
    color: #aab2d5;
    font-size: 14px;
    position: relative;
    margin-right: 10px;
}
.user-menu:before {
    content: '';
    background: url('../image/angle-bottom.svg') no-repeat;
    background-size: 6px 9px;
    height: 6px;
    width: 9px;
    display: block;
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -3px;
}
.user-menu-name {
    padding-right: 20px;
}

/* Notifications */

.notifications {
    width: 29px;
    height: 29px;
    background: url('../image/bell.svg') left bottom no-repeat;
    background-size: 16px 18px;
    margin-top: 7px;
    position: relative;
    margin-right: 20px;
}
.notifications-count {
    position: absolute;
    top: 0;
    right: 0;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    font-size: 11px;
    font-weight: 600;
    text-align: center;
    line-height: 20px;
    color: #ffffff;
    background: #f0396b;
}

/* Calculator */

.calculator {
    border-radius: 8px;
    overflow: hidden;
    color: #aab2d5;
}
.calculator-left {
    padding: 40px 50px;
    background: #21243B;
    padding-bottom: 0;
}
.calculator-right {
    padding: 40px 50px;
    background: #2F3354;
}
.calculator-heading {
    margin-bottom: 28px;
    font-size: 20px;
    color: #ffffff;
}
.calculator-buttons {
    margin: 0 -10px;
}
.calculator-col {
    padding: 0 10px;
}
.calculator-btn {
    height: 50px;
    text-align: center;
    line-height: 50px;
    border-radius: 8px;
    margin-bottom: 20px;
    border: 1px solid #f0396b;
}
.calculator-btn.i-active {
    background: #f0396b;
    color: #ffffff;
}
.calculator-section {
    margin-bottom: 40px;
}
.calculator-ig .form-control {
    height: 50px;
    color: #aab2d5;
    background: transparent;
    border-radius: 8px;
    border-color: #f0396b;
    font-size: 15px;
    text-align: center;
}
.calculator-ig .form-control::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #aab2d5;
}
.calculator-ig .form-control::-moz-placeholder { /* Firefox 19+ */
    color: #aab2d5;
}
.calculator-ig .form-control:-ms-input-placeholder { /* IE 10+ */
    color: #aab2d5;
}
.calculator-ig .form-control:-moz-placeholder { /* Firefox 18- */
    color: #aab2d5;
}
.calculator-ig .input-group-text {
    width: 50px;
    height: 50px;
    border-radius: 8px;
    color: #ffffff;
    background: #f0396b;
    justify-content: center;
    border-color: #f0396b;
}
.calculator-image-holder {
    margin-bottom: 12px;
}
.calculator-list {
    margin: 0;
    padding: 0;
    margin-bottom: 50px;
}
.calculator-list-value {
    float: right;
    color: #ffffff;
}
.calculator-list-item {
    font-size: 15px;
    list-style: none;
    border-bottom: 1px solid #603459;
    padding-top: 15px;
    padding-bottom: 10px;
}
.calculator-list-item_childs {
    border-bottom: 0;
}
.calculator-list-item_price {
    font-size: 24px;
    color: #f0396b;
}
.calculator-sub-list {
    margin-left: 18px;
    padding: 0;
}
.calculator-sub-list-item {
    padding-bottom: 7px;
    padding-top: 10px;
    list-style: none;
    border-bottom: 1px solid #603459;
    font-size: 13px;
}
.calculator-sub-list-value {
    float: right;
}

/* Company */

.company {
    padding: 19px 15px;
    background: #2F3354;
    border-radius: 8px;
    margin-bottom: 15px;
    position: relative;
}
.company:before {
    content: '';
    width: 25px;
    height: 25px;
    border-radius: 8px;
    border: 1px solid #F0396B;
    position: absolute;
    right: 15px;
    bottom: 15px;
    background: url('../image/angle-right.svg') no-repeat center;
    background-size: 4px 6px;
}
.company-name {
    color: #ffffff;
    font-weight: 700;
    font-size: 14px;
    margin-bottom: 5px;
}
.company-text {
    font-size: 12px;
    margin-right: 30px;
}

/* Actual */

.actual-item {
    padding: 30px;
    border-radius: 8px;
    position: relative;
    padding-top: 143px;
    background: #2F3354;
    margin-bottom: 30px;
}
.actual-item .portal-date {
    font-size: 14px;
    left: 30px;
    top: 30px;
}
.actual-item .portal-count {
    font-size: 14px;
    right: 30px;
    top: 30px;
}
.actual-item:before {
    content: '';
    width: 50px;
    height: 50px;
    border-radius: 8px;
    border: 1px solid #F0396B;
    position: absolute;
    right: 30px;
    bottom: 30px;
    background: url('../image/angle-right.svg') no-repeat center;
    background-size: 8px 12px;
}
.actual-name {
    color: #ffffff;
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 5px;
}
.actual-text {
    font-size: 14px;
    margin-right: 50px;
    color: #aab2d5;
}
.actual-item.i-active {
    background: #21243B;
}
.actual-item.i-active:before {
    background-color: #F0396B;
}

/* Top Ads */

.top-ads {
    margin: 0 -7px;
}
.top-ads-item {
    padding: 0 7px;
}
.top-ads-image {
    max-width: 100%;
}

/* Footer */

.footer {
    color: #CCCCCC;
    font-size: 15px;
    padding-top: 38px;
    padding-bottom: 38px;
    background: #2F3354;
}
.footer-logo {
    color: #f0396b;
    margin-bottom: 17px;
}
.footer-heading {
    opacity: 0.6;
    margin-bottom: 17px;
}
.footer-link {
    color: #cccccc;
}

.footer-ig .form-control {
    height: 42px;
    color: #aab2d5;
    background: transparent;
    border-radius: 8px;
    border-color: #f0396b;
    font-size: 15px;
    text-align: center;
}
.footer-ig .btn {
    width: 42px;
    height: 42px;
    border-radius: 8px;
    border: 1px solid #F0396B;
    background: #F0396B url(../image/angle-right.svg) no-repeat center;
    background-size: 8px 12px;
}
.footer-social {
    border: 1px solid #603459;
    height: 42px;
    width: 42px;
    display: inline-block;
    margin-right: 8px;
    border-radius: 50%;
    line-height: 42px;
    text-align: center;
    color: #ccc;
}
.footer-social:hover {
    text-decoration: none;
}
