/* Font Awesome */
@font-face {
    font-family: "Font Awesome 5 Brands";
    src: url('../fonts/Font-Awesome/Font Awesome 5 Brands-Regular-400.otf') format("opentype");
    font-weight: 400;
}

@font-face {
    font-family: "Font Awesome 5 Free";
    src: url('../fonts/Font-Awesome/Font Awesome 5 Free-Regular-400.otf') format("opentype");
    font-weight: 400;
}

@font-face {
    font-family: "Font Awesome 5 Free";
    src: url('../fonts/Font-Awesome/Font Awesome 5 Free-Solid-900.otf') format("opentype");
    font-weight: 900;
}


/* Proxima Nova */

@font-face {
    font-family: "Proxima-Nova";
    src: url('../fonts/Proxima-Nova/ProximaNova-Light.otf') format("opentype");
    font-weight: 300;
}

@font-face {
    font-family: "Proxima-Nova";
    src: url('../fonts/Proxima-Nova/ProximaNova-LightIt.otf') format("opentype");
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: "Proxima-Nova";
    src: url('../fonts/Proxima-Nova/ProximaNova-Reg.otf') format("opentype");
    font-weight: 400;
}

@font-face {
    font-family: "Proxima-Nova";
    src: url('../fonts/Proxima-Nova/ProximaNova-RegIt.otf') format("opentype");
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: "Proxima-Nova";
    src: url('../fonts/Proxima-Nova/ProximaNova-Semibold.otf') format("opentype");
    font-weight: 500;
}

@font-face {
    font-family: "Proxima-Nova";
    src: url('../fonts/Proxima-Nova/ProximaNova-Bold.otf') format("opentype");
    font-weight: 600;
}

@font-face {
    font-family: "Proxima-Nova";
    src: url('../fonts/Proxima-Nova/ProximaNova-Xbold.otf') format("opentype");
    font-weight: 700;
}

@font-face {
    font-family: "Proxima-Nova";
    src: url('../fonts/Proxima-Nova/ProximaNova-Black.otf') format("opentype");
    font-weight: 800;
}