@import "bootstrap-grid.min.css";
@import "fonts.css";

body {
    padding: 0;
    margin: 0;
    font-size: 15px;
    font-family: "Proxima-Nova";
}

section, menu article, aside {
    display: block;
}

select, input {
    font-family: "Proxima-Nova";
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
}

button {
    cursor: pointer;
    box-shadow: none;
    outline: none;
}

a {
    text-decoration: none;
    transition: all .3s;
}

h1, h3, h3, h4, h5, h6 {
    margin: 0;
}

img {
    vertical-align: middle;
}
    /* Basic Class*/

.container {
    max-width: 1170px;

}

h1, .h1 {
    font-size: 33px;
    color: #8f8f8f;
    margin-bottom: 30px;
}

/* Buttons */

.btn-blue {
    padding: 10px 20px;
    font-size: 17px;
    color: #ffffff;
    background-color: #428bea;
    transition: all .3s;
    border-radius: 20px;
    align-self: baseline;
}

.btn-blue:hover {
    background-color: #2a68b9;
}

/* Background colors */

.bg-color {
    background-color: #428bea;
}

.bg-color-2 {
    background-color: #e94465;
}

/* Colors */

.color-1 {
    color: #cccccc !important;
}

/* Margin */

.mb-5 {
    margin-bottom: 5px;
}

.mb-10 {
    margin-bottom: 10px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mb-30 {
    margin-bottom: 30px;
}

.mb-40 {
    margin-bottom: 40px;
}

/* Padding */

.px-30 {
    padding-left: 30px;
    padding-right: 30px;
}

.pr-30 {
    padding-right: 30px;
}

.pl-30 {
    padding-left: 30px;
}

    /* Main Class */

.header {
    display: flex;
    align-items: center;
    height: 77px;
    background-color: #292929;
}

.nav {
    display: flex;
    justify-content: space-between;
}

.nav-item {
    display: flex;
    align-items: center;
}

.menu {
    margin: 0;
}

.menu-link {
    color: #ffffff;
    margin-right: 30px;
    position: relative;
}

.menu-link::before {
    content: '';
    height: 5px;
    width: 100%;
    display: inline-block;
    position: absolute;
    top: -30px;
    transition: .3s;
    transform: translate(0, -5px);
    background-color: #428bea;
}

.menu-link:last-child {
    margin-right: 0;
}

.menu-link:hover {
    color: #428bea;
}

.menu-link:hover::before {
    transform: translate(0, 0px);
}

.menu-link.active {
    color: #428bea;
}

.menu-link.active::before {
    transform: translate(0, 0px);
}

.phone-number {
    color: #909090;
    display: flex;
    align-items: center;
    margin-right: 50px;
}

.i-phone {
    background: url("../image/icon/phone.png") no-repeat center center;
    margin-right: 10px;
    width: 16px;
    height: 16px;
}

.nav-buttons a {
    color: #ffffff;
}

.enter {
    padding: 10px 30px;
    border-radius: 20px;
    background-color: #428bea;
    margin-right: 15px;
}

.enter:hover {
    background: #2a68b9;
}

.info-block {
    color: #ffffff;
    display: flex;
    align-items: center;
    height: 50px;
    background-color: #428bea;
}

.info-block-inner {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.i-exit {
    border: 0;
    position: absolute;
    right: 0;
    width: 10px;
    height: 10px ;
    background: url("../image/icon/exit.png") no-repeat center center;
    transition: .3s;
}

.i-exit:hover {
    opacity: .6;
}

.lecture-block {
    padding-top: 90px;
    padding-bottom: 50px;
}

.lecture-block-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.lbh-item {
    display: flex;
    align-items: center;
}

.section-title {
    color: #8f8f8f;
    font-weight: 800;
    font-size: 31px;
    margin-right: 50px;
}

.see-all {
    color: #428bea;
    font-size: 16px;
    font-weight: 600;
    display: flex;
    align-items: center;
}

.see-all::after {
    content: '';
    width: 16px;
    height: 16px;
    background: url("../image/icon/right.png") no-repeat center right 1px;
}

.lecture-card {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    margin-bottom: 30px;
}

.lecture-card img {
    width: 100%;
}

.lecture-card-holder {
    position: relative;
}

.lecture-card-inner {
    position: absolute;
    display: flex;
    align-items: self-start;
    justify-content: space-between;
    flex-direction: column;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
}

.card-info {
    font-size: 14px;
    border-radius: 20px;
    padding: 7px 18px;
    color: #ffffff;
}

.card-info-text {
    color: #ffffff;
    font-size: 16px;
    margin-top: auto;
}

.lecture-card-bottom {
    display: flex;
    align-items: center;
    background-color: #f7f7f7;
    padding: 17px 20px;
}

.lecture-bottom-item:first-child {
    margin-right: 18px;
}

.lecture-bottom-item {
    display: flex;
    flex-direction: column;
    font-size: 14px;
}

.lecture-bottom-info {
    display: flex;
    color: #8f8f90;
}

.lecture-bottom-info-black {
    color: #333333;
    font-weight: 600;
}

.i-right {
    background: url("../image/icon/right-big.png") no-repeat center center;
    margin-left: auto;
    width: 9px;
    height: 13px;
}

.about-us {
    padding-bottom: 80px;
}

.text-about-us {
    font-size: 17px;
    color: #333333;
    line-height: 27px;
}

.text-about-us:first-child {
    margin-bottom: 35px;
}

.ins-block {
    display: flex;
    align-items: center;
    position: relative;
    height: 100%;
}

.pattern {
    position: relative;
    width: 100%;
    height: 145px;
    border-radius: 10px;

    background: url("../image/pattern.png") no-repeat center center / cover;
}

.pattern-inner {
    padding: 20px 25px;
    position: absolute;
    top: 0;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.pattern-inner-text {
    width: 170px;
    color: #333333;
    font-size: 17px;
}

.our-lectures {
    padding-bottom: 100px;
}

.ins-block-img {
    position: absolute;
    top: -15px;
    right: 85px;
}

.i-ins {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.i-ins::after {
    content: '';
    width: 15px;
    height: 15px;
    margin-left: 10px;
    background: url("../image/icon/instagram.png") no-repeat center right;
}

.lectures-block {
    display: flex;
    align-items: center;
}

.lecture-image {
    flex: 0 0 127px;
    overflow: hidden;
    border-radius: 10px;
    margin-right: 13px;
}

.lecture-ins-info {
    display: flex;
    flex-direction: column;
}

.lecture-name {
    color: #333333;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 8px;
}

.lecture-ins-link {
    color: rgba(51, 51, 51, 0.72);
    font-size: 17px;
    margin-bottom: 8px;
}

.ins-black {
    display: flex;
    align-items: center;
}

.ins-black::after {
    content: '';
    width: 15px;
    height: 15px;
    margin-left: 10px;
    opacity: .7;
    background: url("../image/icon/instagram-black.svg") no-repeat center center;
}

.lecture-text {
    color: #333333;
    font-size: 17px;
    line-height: 27px;
}

.footer {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #292929;
}

.footer-item-title {
    color: rgba(204, 204, 204, 0.5);
    margin-bottom: 20px;
}

.footer .phone-number {
    margin-right: 0;
    margin-bottom: 10px;
}

.mail-address {
    color: #909090;
    display: flex;
    align-items: center;
}

.mail-address::before {
    content: '';
    width: 16px;
    height: 12px;
    margin-right: 10px;
    background: url("../image/icon/mail.png") no-repeat center center;
}

.footer-menu {
    padding: 0;
    display: flex;
}

.footer-link {
    font-size: 16px;
    color: #ffffff;
    margin-bottom: 10px;
}

.footer-link:hover {
    color: #428bea;
}

.footer-menu-item {
    display: flex;
    flex-direction: column;
}

.footer-menu-item:first-child {
    margin-right: 35px;
}

.input-block {
    display: flex;
    align-items: center;
}

.input-mail {
    padding: 0 25px;
    height: 35px;
    background: transparent;
    border-radius: 10px 0 0 10px;
    border: 1px solid #7b7b7b;
    border-right: 0;
    outline: none;
    font-size: 16px;
    color: #ffffff;
    width: 100%;
}

.btn-send {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 25px;
    height: 35px;
    border: 0;
    border-radius: 0 10px 10px 0;
}

.btn-send::before {
    content: '';
    background: url("../image/icon/right-white.png") no-repeat center center;
    width: 15px;
    height: 15px;
    transition: all .3s;
}

.btn-send:hover::before {
    opacity: .6;
}

.footer-info {
    color: #ffffff;
}

.footer-socials {
    margin-right: 50px;
    display: flex;
}

.social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0 0 24px;
    margin-right: 10px;
    width: 24px;
    height: 24px;
    background: #428bea;
    border-radius: 50%;
}

.social-link:last-child {
    margin-right: 0;
}

.social-link::before {
    content: '';
    width: 15px;
    height: 15px;
    background-repeat: no-repeat !important;
    background-position: center !important;
    transition: .3s;
}

.social-link:hover {
    background-color: #2a68b9;
}

.social-link:hover::before {
    opacity: .6;
}

.social-link:nth-child(1)::before {
    background: url("../image/icon/vk.png");
}

.social-link:nth-child(2)::before {
    background: url("../image/icon/fb.png");
}

.social-link:nth-child(3)::before {
    background: url("../image/icon/ins.png");
}

.payment-link {
    margin-right: 13px;
}

.payment-link:last-child {
    margin-right: 0;
}

.menu-button {
    display: none;
}

.m-menu {
    display: none;
}

.pattern-image {
    display: none;
}

.lecture-text-mobile {
    display: none;
}

.lbh-item-m {
    display: none;
}


/* Nice Select start */


.nice-select {
    cursor: pointer;
    display: flex;
    align-items: center;
    font-size: 15px;
    font-weight: 600;
    outline: none;
    position: relative;
    text-align: left !important;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.nice-select:after {
    content: '';
    background: url("../image/icon/down.png") no-repeat center center;
    -webkit-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
    width: 15px;
    height: 8px;
    margin-left: 10px;
}

.nice-select.open:after {
    -webkit-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    transform: rotate(-180deg);
}

.nice-select.open .list {
    opacity: 1;
    pointer-events: auto;
    -webkit-transform: scale(1) translateY(0);
    -ms-transform: scale(1) translateY(0);
    transform: scale(1) translateY(0);
    width: 100%;
}

.nice-select .list {
    background-color: #292929;
    border-radius: 10px;
    /*border: 1px solid #ffffff;*/
    box-sizing: border-box;
    margin-top: 15px;
    opacity: 0;
    overflow: hidden;
    padding: 0;
    pointer-events: none;
    position: absolute;
    top: 47px;
    left: 0;
    -webkit-transform-origin: 50% 0;
    -ms-transform-origin: 50% 0;
    transform-origin: 50% 0;
    -webkit-transform: scale(0.75) translateY(-21px);
    -ms-transform: scale(0.75) translateY(-21px);
    transform: scale(0.75) translateY(-21px);
    -webkit-transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out;
    transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out;
    z-index: 9;
}

.nice-select .list:hover .option:not(:hover) {
    background-color: transparent !important;
}

.nice-select .option {
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
    outline: none;
    border-bottom: 1px solid #ffffff;
    color: #ffffff;
    padding: 10px;
    text-align: center;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}

.nice-select .option:hover, .nice-select .option.focus, .nice-select .option.selected.focus {
    background-color: #292929;
}

.nice-select .option.selected {
    color: #428bea;
}


/* Nice Select end */



/* Pagination */

.pagination {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.pagination .pag {
    background-color: #f7f7f7;
    border-radius: 22px;
    color: #333333;
    padding: 9px 26px;
}

.pagination .pag.active {
    color: #ffffff;
    background-color: #428bea;
}

.pagination .pag:hover {
    color: #ffffff;
    background-color: #428bea;
}

.pagination .pag.pag-link {
    border-radius: 50%;
    padding: 0;
    margin-right: 8px;
    width: 40px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

/* Pagination end */

/* Breadcrumbs */

.breadcrumbs {
    height: 70px;
    margin-bottom: 60px;
}

.breadcrumbs-link {
    display: inline-flex;
    align-items: center;
    color: #333333;
    font-size: 16px;
}

.breadcrumbs-link::after {
    content: '';
    background: url("../image/icon/next.png") no-repeat center center;
    -webkit-background-size: 100%;
    background-size: 100%;
    width: 4px;
    height: 7px;
    margin-right: 10px;
    margin-left: 10px;
}

.breadcrumbs-link:last-child:after {
    display: none;
}

/* Breadcrumbs end*/

.header-select {
    color: #ffffff;
    font-weight: 500;
}

.header-select:after {
    background: url("../image/icon/down-white.png") no-repeat center center;
}

.header-select .nice-select .list {
    background-color: #292929;
}

/* Product */

.product {
    margin-bottom: 80px;
}
.product-name {
    font-size: 33px;
    color: #8f8f8f;
    margin-bottom: 30px;
}
.product-image {
    max-width: 100%;
}
.product-text {
    line-height: 27px;
    font-size: 17px;
    color: #333333;
    margin-top: 0;
}
.product-specs {
    font-size: 17px;
    line-height: 27px;
    margin-bottom: 40px;
}
.product-specs-item {
    color: #8f8f90;
}
.product-specs-item span {
    font-weight: 500;
    color: #333333;
}
.product-button {
    padding: 10px 30px;
    border-radius: 20px;
    background-color: #428bea;
    margin-right: 15px;
    font-size: 16px;
    color: #ffffff;
}
.product-button-buy {
    padding: 10px 30px;
    border-radius: 20px;
    background-color: #e94465;
    margin-right: 15px;
    font-size: 16px;
    color: #ffffff;
}


/* See Also */

.see-also-name {
    font-size: 33px;
    color: #8f8f8f;
    margin-bottom: 30px;
}

/* Page */

.page {
    line-height: 27px;
    font-size: 17px;
    margin-bottom: 80px;
}
.page strong {
    font-weight: 500;
}

.img-fluid {
    max-width: 100%;
}






