
/* Adaptive */


@media (max-width: 768px) {

    /* Basic Mobile Style */
    .d-none-m {
        display: none;
    }

    .header {
        flex-wrap: wrap;
        height: 100%;
        padding: 25px 0;
    }

    .container {
        max-width: 720px;
    }

    .menu {
        display: none;
    }

    .nav-buttons {
        display: none;
    }

    .menu-hamburger {
        display: flex;
        flex-direction: column;
        cursor: pointer;
    }

    .menu-hamburger-item {
        width: 20px;
        height: 1px;
        background-color: #fff;
        margin-bottom: 7px;
        transition: all .3s;
    }

    .menu-hamburger-item:last-child {
        margin-bottom: 0;
    }

    .menu-hamburger.active .menu-hamburger-item:first-child {
        opacity: 0;
        visibility: hidden;
    }

    .menu-hamburger.active .menu-hamburger-item:nth-child(2) {
        transform: rotate(45deg) translate(1px, 1.5px)
    }

    .menu-hamburger.active .menu-hamburger-item:last-child {
        transform: rotate(-45deg) translate(4px, -5px)
    }

    .m-menu {
        display: none;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        background-color: #2f2f2f;
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
    }

    .m-menu .menu-link {
        width: 100%;
        margin-right: 0;
        padding: 12px 40px;
        border-bottom: 1px solid #292929;
        transform: translate(0, 0px);
    }

    .m-menu .menu-link:last-child {
        border-bottom: 0;
    }

    .m-menu .menu-link::before {
        height: 100%;
        width: 2px;
        top: 0;
        left: 0;
        transform: translate(-2px, 0px);
    }

    .m-menu .menu-link.active {
        color: #428bea;
    }

    .m-menu .menu-link.active::before {
        transform: translate(0px, 0px);
    }

    .m-menu .menu-link:hover {
        color: #428bea;
    }

    .m-menu .menu-link:hover::before {
        transform: translate(0px, 0px);
    }

    .sub-menu-link {
        color: #ffffff;
    }

    .sub-menu-link:first-child {
        border-right: 1px solid #428bea;
        margin-right: 10px;
        padding-right: 10px;
    }

    .sub-menu-link:hover {
        color: #428bea;
    }

    .section-title {
        font-size: 28px;
    }

    .lecture-block {
        padding-top: 70px;
        padding-bottom: 35px;
    }

    .ins-block-img {
        display: none;
    }

    .text-about-us {
        margin-bottom: 30px !important;
    }

    .pattern {
        display: flex;
    }

    .pattern-inner {
        position: relative;
        margin-right: auto;
    }

    .pattern-image {
        display: block;
    }

    .lectures-block {
        flex-wrap: wrap;
        align-items: flex-start;
    }

    .lecture-image {
        flex: 0 0 50px;
        height: 50px;
    }

    .lecture-image img {
        width: 100%;
    }

    .lecture-text {
        display: none;
    }

    .lecture-text-mobile {
        display: block;
        line-height: 26px;
        font-size: 16px;
    }

    .footer {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .payment {
        display: none;
    }

    .footer-second-row {
        flex-direction: row-reverse;
    }

    .footer-socials {
        margin-right: auto;
    }

    .footer-info-block {
        justify-content: flex-end;
        display: flex;
    }

    .footer-info {
        font-size: 14px;
    }
}

@media (max-width: 576px) {

    .container {
        padding-left: 20px;
        padding-right: 20px;
    }

    .phone-number {
        display: none;
    }

    .section-title {
        font-size: 23px;
        margin-right: 0;
        margin-bottom: 15px;
    }

    .lecture-block {
        padding-top: 50px;
        padding-bottom: 20px;
    }

    .lecture-block-head {
        margin-bottom: 30px;
    }

    .lbh-item {
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
    }

    .lbh-item-m {
        display: block;
    }

    .lbh-item-none-mobile {
        display: none;
    }

    .lecture-select-mobile {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    .pattern-image {
        display: none;
    }

    .about-us {
        padding-bottom: 55px;
    }

    .about-us .section-title {
        margin-bottom: 0;
    }

    .lectures-block {
        margin-bottom: 30px;
    }

    .our-lectures {
        padding-bottom: 25px;
    }

    .pagination {
        justify-content: center;
    }

    .pagination .pag.pag-prev {
        border-radius: 22px 0 0 22px;
    }

    .pagination .pag.pag-next {
        border-radius: 0 22px 22px 0;
    }

    .pagination .pag.pag-link {
        margin-right: -4px;
        border-radius: 0;
        height: 36px;
        background-color: #fcfcfc;
    }

    .pagination .pag.pag-link.active {
        background-color: #f7f7f7;
        color: #428bea;
    }

    .footer-second-row {
        flex-direction: column-reverse;
    }

    .footer-info-block {
        justify-content: flex-start;
        display: flex;
    }

    .footer-socials {
        margin-bottom: 20px;
    }

}

@media (max-width: 360px) {
    .pagination .pag.pag-link {
        width: 30px;
    }
}

@media (max-width: 1200px) {

}

@media (max-width: 992px) {

}